@inject IEntityWorkspaceRegistry Registry

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CQRS Control Hub</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Workspace
            </NavLink>
        </div>
        @foreach (var group in Registry.Groups)
        {
            <div class="nav-group px-3">
                <div class="nav-group-title">@group.ProcessName</div>
                @foreach (var descriptor in group.Descriptors)
                {
                    <div class="nav-item nav-sub-item">
                        <NavLink class="nav-link" href="@($"/entities/{descriptor.Key}")">
                            <span class="bi @descriptor.IconCssClass" aria-hidden="true"></span> @descriptor.DisplayName
                        </NavLink>
                    </div>
                }
            </div>
        }
    </nav>
</div>
